services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A worker.app beat -l info -S redbeat.RedBeatScheduler
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - CELERY_BROKER_URL=redis://redis:6379/0
      - REDBEAT_REDIS_URL=redis://redis:6379/0
